<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title> Speak {{locale}} with Rate {{rate}} </ion-title>

  
    <ion-item lines="full">
      <ion-label position="floating">Dites un truc : </ion-label>
    </ion-item >
    <ion-item lines="full">
    <ion-textarea
      [(ngModel)]="text2Speech"
      placeholder=" Parlez ici"
    ></ion-textarea>
  </ion-item>
<ion-button (click)="pasteClip()" expand="block"> Paste</ion-button>
  <ion-button expand="block" (click)="speak()">SPEAK</ion-button>
  <ion-button color="warning" expand="block" (click)="clear()">Clear</ion-button>
  <ion-button color="danger" expand="block" (click)="stop()">Stop</ion-button>

</ion-content>
